/* styles/Home.module.scss */
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.description {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #555;
}

.button {
  font-size: 16px;
  background-color: #4caf50;
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.generateInput {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .input {
    flex: 2;
  }

  .button {
    flex: 1;
    margin-left: 12px;
  }
}

.input:disabled {
  background-color: #f5f5f5;
  color: #777;
}

.storiesInput {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.copyInput {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.copyButton {
  cursor: pointer;
  background-color: #3498db; /* Arka plan rengi */
  color: #ffffff; /* Yazı rengi */
  border: none;
  padding: 8px;
  margin-left: 5px; /* İstenilen boşluk değeri */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9; /* Hover durumunda arka plan rengi */
  }

  &:disabled {
    background-color: #96d5ff; /* Arka plan rengi */
    cursor: not-allowed;
  }

  svg {
    font-size: 20px; /* İkon boyutu */
  }
}
